

@import url(http://weloveiconfonts.com/api/?family=entypo);
html,body{
  height:100%;  
}
body{
  background:#3E4651;
  text-align: center;
}
body:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; 
}
.todolist{
  display: inline-block;
  vertical-align: middle;
  width: 20em;
  box-shadow:inset 0 0 5px rgba(0,0,0,0.1);  
  font-family: 'Armata', sans-serif;
  font-weight:bold;
  color:#FAFAFA;
  overflow:hidden;
  border: 1em solid rgba(255, 255, 255, 0.04);
  border-top-color: rgba(0, 0, 0, 0.05);
  border-bottom-color: rgba(0, 0, 0, 0.05);
}
input{
  position:absolute;
  left:-9999px;
}
.task{
  display:block;
  height:5em;
  transition: 500ms ease; 
}
.task:hover {
box-shadow: inset -30px 0 30px -20px rgba(0, 0, 0, 0.4),inset 30px 0 30px -20px rgba(0, 0, 0, 0.4);
}
label{
  position: relative;
  cursor: pointer;
  display: block;
  height: 100%;
  
  font-size:1.5em;
  line-height: 3.5em;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05), inset 0 -2px 0 rgba(0, 0, 0, 0.05),inset -2px 0px 0 rgba(0, 0, 0, 0.05);
  transform-style: preserve-3d;
  perspective: 0;
  transform-origin: 150px 0 -150px;
  transition: 500ms ease;
}

label{

 background: #093028;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #237A57, #093028);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #237A57, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}



label:after{
  content:"\2713";
  font-family: 'entypo', sans-serif;
  position:absolute;
  height:100%;
  width:100%;
  background:#00B5B5;
  right:-100%;  
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  transform-origin: 0 0 0;
  transform: rotateY(90deg);
}
label:before {
content: "";
position: absolute;
height: 100%;
width: 30%;
right: -15%;
background: rgba(0, 0, 0, 0);
box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
z-index: 4;
transform: rotateY(45deg);
transition: 500ms ease;
}
.task:hover label:before{
  box-shadow: 0 -15px 20px -20px rgba(0, 0, 0, 0.2);
}
.task:hover label{
transform: rotateY(-20deg);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05), inset 0 -2px 0 rgba(0, 0, 0, 0.05),inset -3px 0px 0 rgba(0, 0, 0, 0.05);
}
.task:hover label:after{
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05), inset 0 -2px 0 rgba(0, 0, 0, 0.05),inset 2px 0px 0 rgba(255, 255, 255, 0.2);}

.task:hover input:checked +label:after{
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
}
.task:hover input:checked + label{
  transform: rotateY(-70deg);
}

input:checked + label{
  transform: rotateY(-90deg);
}